/* はんなり明朝体 */
/*
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
*/

html {
	font-family: "Hannari", serif;
  font-size: 20px;
}

/* スマホ表示用 */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  display: flex;
  flex-direction: column;
	background-color: #f8f1e6;
	margin: 0;
	padding: 0;
}

h1 {
	/* 単語が途中で折り返されないようにする &#8203;ゼロ幅スペースで改行する*/
  word-break: keep-all;
	font-size: 2.5rem;
	margin: 0;
}
h2 {
	font-size: 1.5rem;
	margin: 0;
}
h3 {
	font-size: 1.2rem;
	margin: 0.5rem 0;
}
p {
	font-size: 0.9rem;
	margin: 0;
}

.title {
	border-bottom: 2px solid #ff2121;
	padding: 1rem 0 0.5rem 0;
	text-align: center;
}
.year-num {
	font-size: 4rem;
}


/* メインコンテンツ */
.main {
	flex: 1;
	margin: 0;
	padding: 0.5rem;
}

/* おみくじ */
.fortune-slip-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fortune-slip-container {
	display: grid;
	grid-template-columns: repeat(9, 1fr); /* 9列 */
	grid-template-rows: repeat(9, 1fr); /* 9行 */
	background-color: #fff;
	border: 2px solid #ff2121;
	margin: 0.5rem;
}
.fortune-slip-cell {
	background-color: white;
	outline: 1px solid gray; /* 個別に線を表示 */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.cell-button {
	display: flex;
	user-select: none;
	flex-direction: column;
	background-color: #f8f1e6;
	width: 100%;
	height: 100%;
	font-size: clamp(0.5rem, 5vw, 2rem);
	justify-content: center;
	align-items: center;
	text-align: center;
}
.cell-button:hover {
	background-color: #fde9c9;
}
.cell-button:active {
	background-color: #d8a956;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); /* 押し込まれたような影に */

}

/* フッター */
footer {
	background-color: #f8f1e6;
	border-top: 2px solid #ff2121;
	margin-top: 2rem;
	padding: 0.5rem;
	/* フッターを最前面に表示 */
	z-index: 10;
}


/* モーダル */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	animation: slideIn 0.5s forwards;
}
/* アニメーション：スライドイン */
@keyframes slideIn {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	/* 中央に配置 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 2px solid #ff2121;
	padding: 1rem;
	width: 80%;
	z-index: 105;
}
.fortune-video {
	width: 50%;
	height: auto;
	transform: scale(1.01); /* 黒枠出現対策 */
}
.fortune-result {
	display: none;
	margin-top: 1.5rem;
}