/* こんな所見るなよ */

/* はんなり明朝体 */
/*
@import url('https://fonts.googleapis.com/earlyaccess/hannari.css');
*/

html {
	font-family: "Hannari", serif;
  font-size: 20px;
}

/* スマホ表示用 */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  display: flex;
  flex-direction: column;
	background-color: #f8f1e6;
	margin: 0;
	padding: 0;
}

h1 {
	/* 単語が途中で折り返されないようにする &#8203;ゼロ幅スペースで改行する*/
  word-break: keep-all;
	font-size: 2.5rem;
	margin: 0;
}
h2 {
	font-size: 1.5rem;
	margin: 0;
}
h3 {
	font-size: 1.2rem;
	margin: 0.5rem 0;
}
p {
	font-size: 0.9rem;
	margin: 0;
}
.small-char{
	font-size: 0.6rem;
}

.no-select {
	user-select: none; /* テキスト選択を無効化 */
	-webkit-user-select: none; /* Safari用 */
	-moz-user-select: none; /* Firefox用 */
	-ms-user-select: none; /* IE用 */
}

.title {
	border-bottom: 2px solid #ff2121;
	padding: 1rem 0 0.5rem 0;
	text-align: center;
}
.year-num {
	font-size: 4rem;
}

.right-icon {
	position: absolute;
	top: 1rem; /* 画面上からの距離 */
	right: 1rem; /* 画面右からの距離 */
	width: 3rem;
	height: 3rem;
	/*background-color: coral; /* アイコンの背景色 */
	/*border-radius: 50%; /* 丸いアイコンにする場合 */
	object-fit: cover; /* 画像のアスペクト比を維持して枠に収める */
}
.left-icon {
	position: absolute;
	top: 1rem; /* 画面上からの距離 */
	left: 1rem; /* 画面右からの距離 */
	width: 3rem;
	height: 3rem;
	/*background-color: coral; /* アイコンの背景色 */
	/*border-radius: 50%; /* 丸いアイコンにする場合 */
	object-fit: cover; /* 画像のアスペクト比を維持して枠に収める */
}


/* メインコンテンツ */
.main {
	flex: 1;
	margin: 0;
	padding: 0.5rem;
}

/* おみくじ */
.fortune-slip-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.fortune-slip-container {
	display: grid;
	grid-template-columns: repeat(9, 1fr); /* 9列 */
	grid-template-rows: repeat(9, 1fr); /* 9行 */
	background-color: #c08646;
	border: 2px solid black;
	margin: 0.5rem;
}
.fortune-slip-cell {
	background-color: #573216;
	outline: 1px solid black; /* 個別に線を表示 */
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.cell-button {
	/* 単語が途中で折り返されないようにする */
	white-space: nowrap;
	display: flex;
	user-select: none;
	flex-direction: column;
	background-color: #f8f1e6;
	width: 100%;
	height: 100%;
	background-color: #bf6f32;
	font-size: clamp(0.5rem, 5vw, 2rem);
	justify-content: center;
	align-items: center;
	text-align: center;
}
.cell-button:hover {
	background-color: #d8a956;
}
.cell-button:active {
	background-color: #d8a956;
	transform: translateY(-3px);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); /* 押し込まれたような影に */

}

/* フッター */
footer {
	background-color: #f8f1e6;
	border-top: 2px solid #ff2121;
	margin-top: 2rem;
	padding: 0.5rem;
	/* フッターを最前面に表示 */
	z-index: 10;
}



/* モーダル */
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	animation: slideIn 0.5s forwards;
}
/* アニメーション：スライドイン */
@keyframes slideIn {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}
.modal-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	/* 中央に配置 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border: 2px solid #ff2121;
	padding: 1rem;
	width: 80%;
	z-index: 105;
}
.fortune-video {
	width: 50%;
	height: auto;
	transform: scale(1.01); /* 黒枠出現対策 */
}
.fortune-result {
	display: none;
	margin-top: 1.5rem;
}
#fortune-result-article {
	padding-left: 0.5rem;
	border-left: #000000 1px dashed;
	text-align: left;
}


/* 吹き出し */
.balloon-parent {
	width: 100%;
	position: fixed;
	bottom: 0;
	display: block;
	justify-content: center;	/* 中央揃え */
	z-index: 2;
}
.balloon {
	position: relative;
	display: inline-block;
	margin: 0 1rem 1.5rem 1rem;
	padding: 7px 10px;
	min-width: 50px;
	max-width: 100%;
	color: #ffffff;
	font-size: 1rem;
	-webkit-user-select: none;
	user-select: none;
	background: #000000;
	border: solid 3px #ffffff;
	box-sizing: border-box;
	border-radius: 15px;

	-webkit-animation: feed-in 1s 0s;
	animation: feed-in 1s 0s;
}
.balloon:before {
	content: "";
	position: absolute;
	bottom: -24px;
	left: 50%;
	margin-left: -15px;
	border: 12px solid transparent;
	border-top: 12px solid #000000;
	z-index: 3;
}
.balloon:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -17px;
	border: 14px solid transparent;
	border-top: 14px solid #ffffff;
}
.balloon p {
	margin: 0;
	padding: 0;
}
@keyframes feed-in {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes feed-out {
	0% {opacity:1;}
	100% {opacity:0;}
}